<!DOCTYPE html>
<html>
<head>
  <title>PlanetsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav>
    <li><%= link_to('Recipes', recipes_path)%></li>
    <li><%= link_to('New Receipe  ', new_recipe_path)%></li>
  </nav>
</header>

<div class="leftwrapper">
</div>



<%= yield %>

</body>
</html>